.card{
    border-radius: 10px;
    align-items: center;
    /* border: 1px solid #ccc; */
    /* margin-left: 37.5em; */
    color: #777;
    /* box-shadow: 5px 5px 5px 5px #ccc; */
    padding: 0px 0px 0px 0px !important;
    width: -webkit-fill-available;
    word-break: break-word;
}

/* .card:hover{
    margin-top: 2em;
    border-radius: 50px;
    align-items: center;
    border: 1px solid #ccc;
    color: #777;
    padding: 20px;
    box-shadow: 5px 5px 5px 5px rgb(170, 167, 167);
    width: -webkit-fill-available;
    word-break: break-word;
} */

.card-header{
    font-size: 2em;
}

.input_field{
    margin-bottom: 2%;
    height: 50px;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    font-size: 20px;
    text-align: center;
    /* box-shadow: 0px 10px 10px 10px #cccccc45; */
}

form .form-control:focus{
    /* border-color: #cccccc45 !important; */
    border-top: transparent !important;
    border-right: transparent !important;
    border-left: transparent !important;
    /* border-bottom: 2px #4087e0 !important; */
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0em;
    /* box-shadow: 0px 10px 10px 10px #cccccc45; */
}

.add_btn{
    float: right;
    font-size: 2.5em;
    margin-top: -11%;
    margin-right: 1%;
}

.add_btn:hover{
    float: right;
    font-size: 2.5em;
    margin-top: -11%;
    cursor: pointer;
    margin-right: 1%;
}

.fa-plus-circle:before{
    color: blueviolet;
}

.title_card{
    margin-top: -7.1em;
    align-items: center;
    border: 1px solid #ccc;
    color: grey;
    box-shadow: 5px 5px 5px 5px #ccc;
    padding: 20px;
    width: 100%;
    background-color: white;
}

/* .title_card:hover{
    margin-top: -6em;
    border-radius: 10px;
    align-items: center;
    border: 1px solid #ccc;
    margin-left: 37.5em;
    color: #777;
    box-shadow: 5px 5px 5px 5px rgb(170, 167, 167);
} */

.star_icon{
    float: right;
    margin-top: 3%;
    color: #fff;
    font-size: large;
    margin-right: 5px;
}

.star_icon_imp{
    float: right;
    margin-top: 3%;
    color: #cece72;
    font-size: large;
    margin-right: 5px;
}

.star_icon_imp:hover{
    float: right;
    margin-top: 3%;
    color: #cece72;
    font-size: large;
    margin-right: 5px;
}

.star_icon:hover{
    float: right;
    margin-top: 3%;
    font-size: large;
    margin-right: 5px;
    color: #cece72;
    cursor: pointer;
}

.remove_icon{
    float: right;
    margin-top: 2%;
    color: #fff;
}

.remove_icon:hover{
    float: right;
    margin-top: 2%;
    cursor: pointer;
    color: #fff;
}

.task_lists{

}

.task_list{
    font-size: x-large;
    height: 58px;
    word-break: break-word;
    margin-bottom: 0%;
    opacity: 0.9;
    margin-top: 0%;
    box-shadow: 0px 5px 5px 5px #cccccc45;
    color: beige;
    font-weight: 600;
    background-color: #4087e0;
    border-color: #cccccc24;
    transition: margin-bottom 1s;
}

.task_list:hover{
    margin-bottom: 4%;
}

.error{
    color: red;
    font-size: large;
    font-weight: 600;
}



.container_checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    margin-top: 2.5%;
  }
  
  /* Hide the browser's default checkbox */
  .container_checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #fff;
  }
  
  /* On mouse-over, add a grey background color */
  .container_checkbox:hover input ~ .checkmark {
    background-color: #fff;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container_checkbox input:checked ~ .checkmark {
    background-color: #4087e0;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container_checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container_checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.strike_out {
    text-decoration: line-through;
    opacity: 0.6;
    /* color: green !important; */
}

.task_sepn{
    height: 28px;
    margin-top: -5%;
    font-size: x-large;
}

.tasks_tab{
    margin-left: -9.5%;
}

.nav-tabs {
    border-bottom: 1px solid #ddd !important;
    margin-top: -2.4%;
    width: 100%;
    opacity: 0.9;
    /* box-shadow: 0px 0px 10px 10px #cccccc45; */
    /* background: #4087e0; */
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
    width: 33.33%;
    background: #4087e0;
}

.nav-tabs>li .active{
    float: left;
    margin-bottom: -1px;
    width: 33.33%;
    background: white !important;
}

.nav-tabs>li>a{
    color: white;
    width: 100%;
}

.nav-tabs>li:hover {
    float: left;
    margin-bottom: -1px;
    width: 33.33%;
    background: white;
}

.nav-tabs>li>a:hover{
    color: #7c7c7c;
    width: 100%;
    background: white;
    border-radius: 0px;
}

h1{
    opacity: 0.7;
}


@media (min-width: 300px) and (max-width: 500px) {
    .card{
        border-radius: 10px;
        align-items: center;
        /* border: 1px solid #ccc; */
        color: #777;
        /* box-shadow: 5px 5px 5px 5px #ccc; */
        padding: 20px;
        width: 100%;
    }
    
    /* .card:hover{
        margin-top: 2em;
        border-radius: 10px;
        align-items: center;
        border: 1px solid #ccc;
        margin-left: 2em;
        color: #777;
        box-shadow: 5px 5px 5px 5px rgb(170, 167, 167);
        padding: 20px;
        width: 85%;
        width: 80%;
    } */
    
    .card-header{
        font-size: 2em;
    }
    
    .input_field{
        margin-bottom: 2%;
        height: 50px;
        border-top: transparent;
        border-right: transparent;
        border-left: transparent;
        font-size: 22px;
        text-align: center;
        box-shadow: 0px 10px 10px 10px #ccc;
    }
    
    .add_btn{
        float: right;
        font-size: 2.5em;
        margin-top: -18%;
        margin-right: 1%;
    }
    
    .add_btn:hover{
        float: right;
        font-size: 2.5em;
        margin-top: -18%;
        margin-right: 1%;
        cursor: pointer;
    }
    
    .fa-plus-circle:before{
        color: blueviolet;
    }
    
    .title_card{
        margin-top: 0em;
        align-items: center;
        border: 1px solid #ccc;
        color: #ffffff;
        box-shadow: 5px 5px 5px 5px #ccc;
        padding: 20px;
        width: 100%;
        background-color: blueviolet;
    }
    
    /* .title_card:hover{
        margin-top: -6em;
        border-radius: 10px;
        align-items: center;
        border: 1px solid #ccc;
        margin-left: 37.5em;
        color: #777;
        box-shadow: 5px 5px 5px 5px rgb(170, 167, 167);
    } */
    
    .remove_icon{
        float: right;
        margin-top: 1%;
        color: #fff;
    }
    
    .remove_icon:hover{
        float: right;
        margin-top: 1%;
        color: #fff;
        cursor: pointer;
    }

    .task_list{
        height: 58px;
        font-size: large;
        word-break: break-word;
        margin-bottom: 0%;
        opacity: 0.9;
        margin-top: 0%;
        box-shadow: 0px 5px 5px 5px #cccccc45;
        color: beige;
        font-weight: 600;
        background-color: #4087e0;
        border-color: #cccccc24;
    }

    .error{
        color: red;
        font-size: large;
        font-weight: 600;
    }

    .task_sepn{
        height: 28px;
        margin-top: -5%;
        font-size: x-large;
    }

    .tasks_tab {
        margin-left: -12%;
    }

    .nav-tabs {
        border-bottom: 1px solid #ddd !important;
        margin-top: -3%;
        opacity: 1;
    }
    
    .strike_out {
        text-decoration: line-through;
        opacity: 0.5;
    }
}


@media (min-width: 600px) and (max-width: 800px) {
    img{
        z-index: -11;
        position: absolute;
        left: 0px;
        top: 0px;
        height: -webkit-fill-available;
        width: -webkit-fill-available;
        opacity: 0.5;
    }

    .nav-tabs{
        border-bottom: 1px solid #ddd !important;
        margin-top: -2.4%;
        width: 75%;
        opacity: 0.8;
        margin-left: 4.5%;
    }

    .tasks_tab{
        margin-left: -0.5%;
        width: 80%;
    }

    .input_field{
        margin-bottom: 2%;
        height: 50px;
        border-top: transparent;
        border-right: transparent;
        border-left: transparent;
        width: 75%;
        margin-left: 4.5%;
        font-size: 22px;
        text-align: center;
    }

}


@media (min-width: 800px) and (max-width: 1024px) {
    img{
        z-index: -11;
        position: absolute;
        left: 0px;
        top: 0px;
        height: -webkit-fill-available;
        width: -webkit-fill-available;
        opacity: 0.5;
    }
}