.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body{
  font-family: Poppins,Helvetica,sans-serif;
}

img{
    z-index: -11;
    position: absolute;
    left: 0px;
    top: 0px;
    width: -webkit-fill-available;
    opacity: 0.5;
}


@media (min-width: 300px) and (max-width: 500px) {
  img{
    z-index: -11;
    position: absolute;
    left: 0px;
    top: 0px;
    width: -webkit-fill-available;
    opacity: 0.6;
    height: -webkit-fill-available;
  }
}